{% if user.GB1.slice(-4)=='초등학교' %}
<div>
  <table class="table table-bordered">
    <tr>
      <td class="td1">수준</td>
      <td class="td1">통합 수준 진술문</td>
    </tr>
    <tr>
      <td class="td2 cate">3수준(상)</td>
      <td class="td3">
        이 수준의 학생들은 디지털 사회의 특징을 예를 들어 설명할 수 있고 디지털
        사회에서 자신이 원하는 모습을 만들어갈 수 있습니다. 코딩, 인공지능 등의
        주요 디지털 기술을 이해하면서 디지털 기술을 선택하고 활용할 수 있습니다.
        디지털 윤리를 고려하여 디지털 도구를 선택하고 정보를 효과적으로 검색할
        수 있습니다. 또 이미지, 문자 등이 포함되는 복잡한 매체 자료를 만들고
        편집할 수 있습니다. 그리고 이 수준의 학생들은 주어진 과제를 해결하기
        위해 적절한 방법으로 정보를 공유할 수 있습니다. 그 과정에서 다른 사람을
        배려하며 정보와 의견을 교환함으로써 온라인에서의 대인 관계를 만들어갈 수
        있습니다. 또한 자신이 자주 이용하는 디지털 문화 활동을 즐기면서도 그것의
        장단점을 생각하면서 자신이 원하는 것을 표현할 수 있습니다. 디지털
        환경에서 생기는 사회 문제를 이해하고 기초적인 해결 방법을 찾아볼 수
        있습니다.
      </td>
    </tr>
    <tr>
      <td class="td2 cate">2수준(중)</td>
      <td class="td3">
        이 수준의 학생들은 디지털 사회의 특징을 이해하고 디지털 사회에서
        만들어지는 자신의 모습을 이해할 수 있습니다. 자주 사용하는 디지털 기술을
        이해할 수 있고, 자신의 수준에 맞는 디지털 기술을 부분적으로 선택하고
        활용할 수 있습니다. 디지털 소통의 윤리가 필요함을 이해하면서 디지털
        도구를 선택하고 자신에게 필요한 정보를 검색할 수 있습니다. 이를 토대로
        기초적인 매체 자료를 디지털 도구를 활용하여 내용을 편집하고 추가할 수
        있습니다. 그리고 이 수준의 학생들은 기초적인 디지털 기술을 활용하여 다른
        사람들과 정보를 공유할 수 있습니다. 그 과정에서 다른 사람과 적절한
        대화를 나눔으로써 자신의 대인 관계를 그대로 유지할 수 있습니다. 또한
        자신이 선호하는 디지털 문화 활동 및 창작물을 즐겨 이용하면서 다양한
        방식으로 널리 퍼뜨릴 수 있습니다. 디지털 환경에서 생기는 사회 문제가
        심각한 수준임을 이해할 수 있습니다.
      </td>
    </tr>
    <tr>
      <td class="td2 cate">1수준(하)</td>
      <td class="td3">
        이 수준의 학생들은 디지털 사회에서 소통할 수 있다는 특징을 이해하고
        온라인상에서 상대방에게 보여지는 자신의 모습이 어떠한지 이해할 수
        있습니다. 친숙한 디지털 기술을 이해할 수 있고, 소프트웨어의 기술적
        조치에 대한 외부의 요구가 있는 경우 이에 반응할 수 있습니다. 저작권에
        대한 인식이 있고, 소통을 위해 디지털 도구를 선택하고 기초적인 정보
        검색을 할 수 있습니다. 이를 토대로 기존의 매체 자료 중 일부 내용을
        편집할 수 있습니다. 그리고 이 수준의 학생들은 채팅방 등의 온라인 대화
        공간에서 정보를 공유할 수 있습니다. 온라인상의 대화 예절을 준수함으로써
        자신의 대인 관계를 디지털 관계로 넓힐 수 있습니다다. 또한 최근 유행하는
        디지털 문화 활동에 관심을 가지면서 다른 사람들에게 전달할 수 있습니다.
        디지털 환경에서 생기 사회 문제가 무엇인지 알 수 있습니다.
      </td>
    </tr>
  </table>
</div>
<div>
  <table class="table table-bordered">
    <tr>
      <td class="td1 cate" style="width: 60px">영역</td>
      <td class="td1">하위영역</td>
      <td class="td1">수준</td>
      <td class="td1">나의 디지털 역량 수준</td>
      <td class="td1">내가 할 수 있는 활동들(예시)</td>
    </tr>
    <tr>
      <td rowspan="18" class="td2">기본<br />소양</td>
      <td rowspan="3" class="td2">
        1. 디지털 사회의 이해와 자아정체성<br />확립
      </td>
      <td class="cate">3수준(상)</td>
      <td class="td3">
        이 수준의 학생들은 디지털 사회의 특징을 예를 들어 설명할 수 있고 디지털
        사회에서 자신의 모습을 긍정적으로 만들어갈 수 있습니다.
      </td>
      <td class="td3">
        a. 디지털 사회는 네트워크로 연결되어 있고 그 안에서 사람들과 대화를 주고
        받을 수 있다는 것을 알고, 이를 친구들에게 예를 들어 설명할 수 있음.<br />b.
        디지털 사회에서 나의 모습을 상대방에서 적절하게 표현하고, 내가 원하는
        모습을 긍정적으로 만들어갈 수 있음.
      </td>
    </tr>
    <tr>
      <td class="cate">2수준(중)</td>
      <td class="td3">
        이 수준의 학생들은 디지털 사회의 특징을 이해하고 디지털 사회에서
        만들어지는 자신의 모습을 알 수 있습니다.
      </td>
      <td class="td3">
        a. 디지털 사회가 네트워크로 연결되고 그 안에서 사람들과 대화를 주고 받을
        수 있다는 것을 이해할 수 있음.<br />b. 디지털 환경에서 나의 모습이
        어떻게 표현되고 만들어지는지 알 수 있음.
      </td>
    </tr>
    <tr>
      <td class="cate">1수준(하)</td>
      <td class="td3">
        이 수준의 학생들은 다른 사람들과 소통할 수 있는 디지털 사회의 특징을
        이해하고 온라인에서 상대방에게 보여지는 자신의 모습이 어떠한지 이해할 수
        있습니다.
      </td>
      <td class="td3">
        a. 디지털 사회에서 다른 사람들과 소통할 수 있다는 것을 이해할 수
        있음.<br />b. 디지털 환경에서 상대방에게 보여지는 자신의 모습이 어떠한지
        알 수 있음.
      </td>
    </tr>
    <tr>
      <td rowspan="3" class="cate td2">
        2. 디지털 기술의<br />이해와<br />활용
      </td>
      <td class="td3">3수준(상)</td>
      <td class="td3">
        주요 디지털 기술을 이해하면서 디지털 기술을 선택하고 활용할 수 있습니다.
        사용 목적에 맞게 디지털 도구를 선택하고 정보를 효과적으로 검색할 수
        있습니다.
      </td>
      <td class="td3">
        a. 상황과 목적에 맞게 기초적인 디지털 기술(코딩, 인공지능 등)을 활용할
        수 있음.<br />
        b. 컴퓨터/스마트폰/패드, PPT/엑셀/워드, 와이파이/클라우딩 등을 사용
        목적에 맞게 활용할 수 있음.<br />
        c. 하이퍼링크를 이용하여 정보를 탐색하고 하이퍼링크를 만들 수 있음.<br />
        d. 인터넷에서 필요한 정보를 검색하는 방법을 알고 신속하고 정확하게
        검색할 수 있음.<br />
        e. JPG, HWP, PDF, ZIP 등이 무엇을 뜻하는지 알고 그림, 문서 등을 나의
        목적에 맞게 활용할 수 있음.<br />
        f. 메신저, SNS 등을 통해 무엇을 할 수 있는지 알고, 정보 공유, 정보 게시,
        대화 등에 활용할 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td class="td3">2수준(중)</td>
      <td class="td3">
        자주 사용하는 디지털 기술을 이해하고, 자신의 수준에 맞는 디지털 기술을
        부분적으로 선택하고 활용할 수 있습니다. 정보 활용에 필요한 디지털 도구를
        적절하게 선택하고 정보를 검색할 수 있습니다.
      </td>
      <td class="td3">
        a. 코딩, 인공지능 등 기초적인 디지털 기술을 활용할 수 있음.<br />
        b. 컴퓨터/스마트폰/패드, PPT, 와이파이가 무엇인지 알고 있으며, 필요한
        경우 활용할 수 있음.<br />
        c. 하이퍼링크가 무슨 역할을 하는지 알고 하이퍼링크를 활용하여 정보
        탐색을 할 수 있음.<br />
        d. 필요한 정보를 인터넷에서 검색할 수 있음.<br />
        e. JPG, PDF 등 자신이 자주 사용하는 파일의 종류를 알고 이용할 수
        있음.<br />
        f. 메신저, SNS 등을 통해 다른 사람과 소통할 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td class="td3">1수준(하)</td>
      <td class="td3">
        친숙한 디지털 기술을 이해할 수 있고, 최소한의 디지털 기술을 활용할 수
        있습니다. 소통을 위해 디지털 도구를 선택하고 간단한 정보를 검색할 수
        있습니다.
      </td>
      <td class="td3">
        a. 인공지능 등 우리에게 친숙한 디지털 기술의 필요성을 이해할 수 있음.<br />
        b. 컴퓨터/스마트폰, PPT, 인터넷 등 기초적인 디지털 용어를 이해할 수
        있음.<br />
        c. 하이퍼링크를 클릭하여 새로운 사이트나 화면에 접속할 수 있음.<br />
        d. 간단한 정보를 인터넷에서 검색할 수 있음.<br />
        e. 컴퓨터나 핸드폰에서 악성 코드 검사, 용량 정리 등을 요구할 경우
        허락/거부 버튼을 누를 수 있음.<br />
        f. JPG, PDF 등이 어떤 파일의 종류(이미지, 문서 등)를 뜻하는지 알 수
        있음.<br />
        g. 문자 메시지, 메신저 등을 활용할 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td rowspan="3" class="cate td2">3.정보·콘텐츠의 관리와 활용</td>
      <td class="td3">3수준(상)</td>
      <td class="td3">
        디지털 정보‧콘텐츠 사용 규칙과 권리를 고려하여 복합적인 매체 자료를
        만들고 편집할 수 있습니다.
      </td>
      <td class="td3">
        a. 저작권, 초상권 등을 이해할 수 있고, 이에 유의하여 정보를 검색하고
        활용할 수 있음.<br />
        b. 문서‧영상‧팸플릿 제작 프로그램을 활용하여 안내 책자, 소개 영상,
        (카드) 뉴스 등의 매체 자료를 만들고 편집할 수 있음.<br />
        c. 안내 책자, 소개 영상, (카드) 뉴스 등을 만들고 편집할 때 이미지, 문자,
        동영상 등을 활용할 수 있음.<br />
        d. PPT, 엑셀, 워드 등에 이미지와 글자의 위치를 알맞게 설정하고, 영상이
        포함된 자료를 만들고 편집할 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td class="td3">2수준(중)</td>
      <td class="td3">
        디지털 정보‧콘텐츠 사용 규칙과 권리의 중요성에 대한 이해를 바탕으로
        기초적인 매체 자료의 내용을 편집하거나 추가할 수 있습니다.
      </td>
      <td class="td3">
        a. 저작권, 초상권이 무엇인지, 왜 중요한지 알 수 있음.<br />
        b. 기본 틀이나 형식이 있는 안내 책자, 소개 영상, (카드) 뉴스 등에 내용을
        편집하거나 추가할 수 있음.<br />
        c. PPT, 워드, 영상에 포함된 이미지, 글자 등의 위치와 색깔을 바꿀 수
        있고, 적절한 이미지를 사용하여 편집할 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td class="td3">1수준(하)</td>
      <td class="td3">
        저작권에 대한 이해를 바탕으로, 기존의 매체 자료 중 일부 내용을 편집할 수
        있습니다.
      </td>
      <td class="td3">
        a. 저작권이 무엇인지 알고 있음.<br />
        b. PPT 등이 무엇인지 알 수 있음.<br />
        c. 주변 사람이 도와주면 PPT의 일부 이미지 붙이기, 삭제, 잘라내기 등의
        편집을 할 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td rowspan="3" class="cate td2">4. 디지털 의사소통과 협력</td>
      <td class="td3">3수준(상)</td>
      <td class="td3">
        이 수준의 학생들은 주어진 과제를 해결하기 위해 적절한 방법으로 정보를
        공유할 수 있습니다. 그 과정에서 다른 사람을 배려하며 정보와 의견을 주고
        받음으로써 온라인에서 다른 사람들과 관계를 만들어갈 수 있습니다.
      </td>
      <td class="td3">
        a. 늦은 시간/이른 시간, 학교 숙제/개인 여가, 공동 작업/개인 작업 등의
        상황과 목적에 따라 링크 공유하기(접속 주소 링크나 QR 코드 공유 등),
        전달하기, 주소 보내기 등을 다르게 활용할 수 있음.<br />b. 과제가 주어질
        경우 온라인 대화방(채팅방), 화상 회의방 등을 활용하면서 다른 사람과 서로
        도우면서 해결할 수 있음.<br />c. 디지털을 이용해 과제를 해결할 때 다른
        사람을 배려하고 존중하면서 정보나 의견을 주고받음으로써 관계를 만들 수
        있음.
      </td>
    </tr>
    <tr>
      <td class="cate">2수준(중)</td>
      <td class="td3">
        이 수준의 학생들은 기초적인 디지털 기술을 활용하여 다른 사람들과 정보를
        공유할 수 있습니다. 그 과정에서 다른 사람과 적절한 대화를 나눔으로써
        자신의 대인 관계를 유지할 수 있습니다.
      </td>
      <td class="td3">
        a. 다른 사람에게 링크 공유하기, 주소 보내기 등을 할 수 있음.<br />b.
        선생님의 안내가 있을 경우 채팅방(온라인 대화방), 화상 회의방 등을
        활용하여 다른 사람과 서로 도우면서 과제를 해결할 수 있음.<br />c.
        디지털을 이용해 과제를 해결할 때 다른 사람을 배려하고 존중하면서 정보를
        주고받음으로써 좋은 관계를 유지할 수 있음.
      </td>
    </tr>
    <tr>
      <td class="td3">1수준(하)</td>
      <td class="td3">
        이 수준의 학생들은 기초적인 디지털 기술을 활용하여 온라인 대화 공간에서
        정보를 공유하고 온라인상의 대화 예절을 지킴으로써 기존의 대인 관계를
        디지털 관계로 넓힐 수 있습니다.
      </td>
      <td class="td3">
        a. 다른 사람에게 콘텐츠 공유하기 등의 기초적 디지털 기능을 알고 있음.<br />b.
        채팅방(온라인 대화방)에서 다른 사람과 정보를 주고받을 수 있음.<br />c.
        대면 소통 예절을 바탕으로 온라인 대화 예절을 지킴으로써 기존의 친구
        관계를 디지털 관계로 발전시킬 수 있음.
      </td>
    </tr>
    <tr>
      <td rowspan="3" class="cate td2">5. 디지털 창작 및<br />향유</td>
      <td class="td3">3수준(상)</td>
      <td class="td3">
        자신이 자주 이용하는 디지털 문화에 대한 이해를 바탕으로 자신이 원하는
        것을 표현하고 즐기면서 성찰할 수 있습니다.
      </td>
      <td class="td3">
        a. 동영상, 애니메이션, 디지털 문화 박람회 등을 즐길 때 음성 인식 기능,
        인공지능 프로그램, 디지털 맵(지도), VR 체험 등을 활용할 수 있음.<br />b.
        온라인상에서 나의 생각이나 감정을 표현하거나 동영상, 애니메이션 등의
        창작물을 만들 때 음성 인식 기능, 인공지능 프로그램, 디지털 맵(지도), VR
        체험 등을 적절히 활용할 수 있음.<br />c. 가치 있는 디지털 기반의
        애니메이션, 영화, 음악, 게임, 출판물, 문화재, 박람회 등을 자신의 SNS,
        개인 채널, 온라인 누리집 등에 소개하면서 타인과 함께 즐길 수 있음.
      </td>
    </tr>
    <tr>
      <td class="td3">2수준(중)</td>
      <td class="td3">
        자신이 좋아하는 디지털 문화 콘텐츠를 즐겨 이용하면서 다양한 방식으로
        널리 퍼뜨릴 수 있습니다.
      </td>
      <td class="td3">
        a. 음성 인식 기능, 영상 녹화 기능 등을 활용한 문화 콘텐츠를 즐겨 이용할
        수 있음.<br />b. 동영상, 애니메이션 등을 즐겨 보거나 인공지능, 3D 프린터
        등을 활용한 디지털 문화 박람회 등에 관심을 가지고 참가할 수 있음.<br />c.
        자신이 좋아하는 디지털 기반의 애니메이션, 영화, 음악, 게임, 출판물 등을
        메신저, 문자 메시지 등을 통해 다른 사람과 공유하며 함께 즐길 수 있음.
      </td>
    </tr>
    <tr>
      <td class="td3">1수준(하)</td>
      <td class="td3">
        최근 유행하는 디지털 문화 활동에 관심을 가지면서 다른 사람들에게 전달할
        수 있습니다.
      </td>
      <td class="td3">
        a. 음성 인식 기능, 3D 프린터 등을 활용한 디지털 문화 박람회 등에 관심을
        가질 수 있음. 헤드셋 등의 디지털 기기를 미술 관람 등의 문화 활동에
        활용할 수 있음.<br />b. 헤드셋 등의 디지털 기기를 미술 관람 등의 문화
        활동에 활용할 수 있음.<br />c. 최근 유행하는 디지털 기반의 애니메이션,
        영화, 음악 등을 다른 사람에게 전달하며 함께 즐길 수 있음.
      </td>
    </tr>
    <tr>
      <td rowspan="3" class="cate td2">6. 디지털 시민참여</td>
      <td class="td3">3수준(상)</td>
      <td class="td3">
        사회 문제를 해결하기 위해 온라인 활동에 참여할 수 있습니다.
      </td>
      <td class="td3">
        a. 디지털 환경이 사회에 미치는 장점과 단점을 알고, 문제 해결을 위해
        온라인 활동에 참여할 수 있음.<br />b. 온라인 게시판의 글 작성, 온라인
        캠페인 등의 활동을 통해 사회 문제 해결에 참여할 수 있음.
      </td>
    </tr>
    <tr>
      <td class="td3">2수준(중)</td>
      <td class="td3">
        사회 문제의 기초적인 해결 방안을 인터넷에서 찾아볼 수 있습니다.
      </td>
      <td class="td3">
        a. 디지털 환경이 가정, 학교, 동아리 활동 등에 미치는 좋은 점과 나쁜 점을
        알 수 있음.<br />b. 해킹, 악성 댓글, 비속어 사용, 저작권 침해 등 디지털
        환경에서 발생하는 사회 문제의 기초적인 해결 방안을 인터넷에서 찾아볼 수
        있음.
      </td>
    </tr>
    <tr>
      <td class="td3">1수준(하)</td>
      <td class="td3">
        사회 문제와 관련된 정보를 인터넷에서 찾아볼 수 있습니다.
      </td>
      <td class="td3">
        a. 디지털 환경이 다른 사람과 관계를 맺는 데 영향을 준다는 것을 이해할 수
        있음.<br />b. 사회 문제와 관련된 정보를 인터넷에서 찾아볼 수 있음.
      </td>
    </tr>
  </table>
</div>
{% else %}
<!-- 통합 진술문-->
<div>
  <table class="table table-bordered">
    <tr>
      <td class="td1">수준</td>
      <td class="td1">통합 수준 진술문</td>
    </tr>
    <tr>
      <td class="td2 cate">3수준(상)</td>
      <td class="td3">
        이 수준의 학생들은 디지털 사회의 특징을 전통적 사회의 특징과 비교하며
        이해할 수 있습니다. 디지털 사회에서 상황과 목적에 적절하게 자신을
        표현하면서 자아 정체성을 긍정적으로 만들어갈 수 있습니다. 그리고 복잡한
        디지털 기술의 필수 요소가 무엇인지 이해할 수 있고, 상황과 목적에 맞게
        디지털 기술을 선택할 수 있습니다. 디지털 기기의 성능에 문제가 생길 때
        디지털 기술에 대한 이해를 바탕으로 해결할 수 있습니다. 디지털
        정보‧콘텐츠를 비판적으로 활용할 수 있고, 저작권, 초상권 등을 고려하며
        매체 자료를 목적에 맞게 만들고, 편집하고, 관리할 수 있습니다. 이 수준의
        학생들은 다양한 디지털 기술을 활용하여 내용, 형식 등이 다양한 정보를
        공유할 수 있습니다. 문제 해결을 위해 다른 사람과 서로 도우면서 건강한
        디지털 관계를 만들고 강화할 수 있습니다. 또한 디지털 문화 활동에 주인
        의식을 가지고 즐겁게 참여하면서 디지털 문화를 비판적으로 성찰할 수
        있습니다. 사회 문제를 해결하기 위해 온라인 활동에 적극적으로 참여할 수
        있습니다.
      </td>
    </tr>
    <tr>
      <td class="td2 cate">2수준(중)</td>
      <td class="td3">
        이 수준의 학생들은 디지털 사회의 개념과 특징을 연관지어 이해하고 디지털
        사회에서 자신의 모습을 적절하게 만들어 갈 수 있습니다. 그리고 기본적인
        디지털 기술이 무엇인지 이해할 수 있고, 사용 목적에 맞게 디지털 기술을
        선택할 수 있으며 디지털 기기 성능 향상에 활용할 수 있습니다. 또한
        위험하거나 해로운 정보를 미리 차단하면서 자료를 탐색‧분석할 수 있습니다.
        저작권, 초상권 보호의 중요성을 이해하면서 매체 자료를 만들고 편집할 수
        있습니다. 이 수준의 학생들은 디지털 환경에서 과제와 관련되는 정보를
        공유할 수 있습니다. 온라인상에서 다른 사람과 서로 도우면서 관계를 만들고
        유지할 수 있습니다. 또한 디지털 문화를 책임감 있게 즐기면서 온라인상에서
        자신의 창작물을 확산할 수 있습니다. 사회 문제를 해결하기 위한 방법을
        인터넷에서 찾아볼 수 있습니다.
      </td>
    </tr>
    <tr>
      <td class="td2 cate">1수준(하)</td>
      <td class="td3">
        이 수준의 학생들은 디지털 사회의 기본적인 특징을 자신의 경험을 바탕으로
        이해할 수 있습니다. 현실에서의 자신의 모습을 바탕으로 디지털 사회에서의
        자신의 모습을 만들어갈 수 있습니다. 그리고 디지털 도구 사용 목적이나
        사용 습관을 바탕으로 디지털 도구를 선택할 수 있습니다. 주변 사람들의
        안내 혹은 도움이 있을 경우 디지털 기술을 활용하여 기기를 조작할 수
        있습니다. 디지털 정보·콘텐츠의 해로움, 저작권 보호 등에 대해 이해할 수
        있으며, 안내가 있을 경우 발표를 위한 매체 자료를 구성하고 편집할 수
        있습니다. 이 수준의 학생들은 주어진 과제 수행에 적절한 디지털 도구를
        활용하여 정보를 공유할 수 있습니다. 온라인상에서 다른 사람과 의견을
        교환하면서 디지털 관계를 만들어갈 수 있습니다. 또한 유행하는 디지털 문화
        활동을 자신의 개인 채널을 통해 다른 사람들에게 알릴 수 있고 이러한
        디지털 소통 문화의 장단점을 생각해볼 수 있습니다. 사회 문제에 대해 다른
        사람들은 어떤 생각을 가지는지 인터넷에서 찾아볼 수 있습니다.
      </td>
    </tr>
  </table>
</div>

<!-- 수준 진술문-->
<div>
  <table class="table table-bordered">
    <tr>
      <td class="td1 cate" style="width: 60px">영역</td>
      <td class="td1">하위영역</td>
      <td class="td1">수준</td>
      <td class="td1">나의 디지털 역량 수준</td>
      <td class="td1">내가 할 수 있는 활동들(예시)</td>
    </tr>
    <tr>
      <td rowspan="18" class="td2">기본<br />소양</td>
      <td rowspan="3" class="td2">
        1. 디지털 사회의 이해와 자아정체성<br />확립
      </td>
      <td class="cate">3수준(상)</td>
      <td class="td3">
        이 수준의 학생들은 디지털 사회의 특징을 전통적 사회의 특징과 비교하며
        이해할 수 있습니다. 디지털 사회에서 상황과 목적에 적절하게 자신을
        표현하면서 자아 정체성을 긍정적으로 만들어갈 수 있습니다.
      </td>
      <td class="td3">
        a. 디지털 사회가 어떤 의미인지, 얼마나 편리하고 유용한지, 단점은
        무엇인지를 이해하며 이러한 디지털 사회의 특징을 전통적 사회의 특징과
        비교할 수 있음.<br />
        b. 디지털 소통 상대(예: 친구, 선생님)에 따라, 디지털 도구 사용 목적(예:
        학교 숙제, 친구와의 대화)에 따라 나를 표현하는 방법을 조절하면서 자신의
        모습을 긍정적으로 만들어갈 수 있음.<br />
        c. 디지털 소통 상대(예: 친구, 선생님)에 따라, 디지털 도구 사용 목적(예:
        학교 숙제, 친구와의 대화)에 따라 나를 표현하는 방법을 바꾸면서 자신의
        모습을 긍정적으로 만들어갈 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td class="cate">2수준(중)</td>
      <td class="td3">
        이 수준의 학생들은 디지털 사회의 개념과 특징을 연관지어 이해하고 디지털
        사회에서 자신의 모습을 적절하게 만들어 갈 수 있습니다.
      </td>
      <td class="td3">
        a. 시‧공간을 초월한 소통, 대량 정보(빅데이터) 생산 및 소비와 같은 디지털
        사회의 기본적 특징에 대한 이해를 바탕으로 디지털 사회가 무엇인지 설명할
        수 있음.<br />
        b. 디지털 소통 상대(예: 친구, 선생님)에 따라, 디지털 도구 사용 목적(예:
        학교 숙제, 친구와의 대화)에 따라 디지털 사회 속 자신의 모습을 적절하게
        만들어 갈 수 있음.
      </td>
    </tr>
    <tr>
      <td class="cate">1수준(하)</td>
      <td class="td3">
        이 수준의 학생들은 디지털 사회의 기본적인 특징을 자신의 경험을 바탕으로
        이해할 수 있습니다. 현실에서의 자신의 모습을 바탕으로 디지털 사회에서의
        자신의 모습을 만들어갈 수 있습니다.
      </td>
      <td class="td3">
        c. 시‧공간을 초월한 소통, 대량 정보 생산 및 소비와 같은 디지털 사회의
        기본적 특징을 자신의 경험을 바탕으로 이해할 수 있음.<br />
        d. 현실에서의 자신의 모습을 바탕으로 디지털 사회에서의 나의 모습을
        만들어갈 수 있음.
      </td>
    </tr>
    <tr>
      <td rowspan="3" class="cate td2">
        2. 디지털 기술의<br />이해와<br />활용
      </td>
      <td class="td3">3수준(상)</td>
      <td class="td3">
        복잡한 디지털 기술의 필수 요소가 무엇인지 이해할 수 있고, 상황과 목적에
        맞게 디지털 기술을 선택할 수 있습니다. 디지털 기기의 성능에 문제가 생길
        때 디지털 기술에 대한 이해를 바탕으로 해결할 수 있습니다.
      </td>
      <td class="td3">
        a. 클라우드, 사물인터넷, 인공지능, 빅데이터 등의 작동 방식, 작동 체계,
        기능, 명령어 등에 대해 부분적으로 이해할 수 있음.<br />
        b. 정보 검색 엔진, 온라인 화상 대화‧회의 플랫폼, 문서 및 영상 제작
        플랫폼, 이미지 편집 플랫폼, 인공지능 플랫폼 등의 디지털 도구를 사용하는
        것에 자신감이 있고, 사용 시간이나 사용 방법 등을 스스로 조절할 수
        있음.<br />
        c. 과제 수행을 위해 문서 및 영상 제작 플랫폼을 선택하고 대화를 위해 채팅
        애플리케이션을 선택하는 등 사용 목적에 따라 디지털 도구를 적절히 선택할
        수 있고, 사용할 때의 장단점을 설명할 수 있음.<br />
        d. RAM, CPU, 하드디스크, 쿠키, KB, MB, GM, TB 등의 디지털 관련 용어와
        기능에 대한 이해를 바탕으로 로딩 속도 개선이나 바이러스 제거 등을 할 수
        있음.<br />
      </td>
    </tr>
    <tr>
      <td class="td3">2수준(중)</td>
      <td class="td3">
        기본적인 디지털 기술이 무엇인지 이해할 수 있고, 사용 목적에 맞게 디지털
        기술을 선택할 수 있으며 디지털 기기 성능 향상에 활용할 수 있습니다.
      </td>
      <td class="td3">
        a. 정보 검색 엔진, 문서 및 영상 제작 플랫폼, 이미지 편집 플랫폼 등의
        디지털 도구를 사용하는 것에 자신감이 있고 익숙함.<br />
        b. 과제 수행을 위해 문서 및 영상 제작 플랫폼을 선택하고 대화를 위해 채팅
        애플리케이션을 선택하는 등 상황과 목적에 따라 디지털 도구를 선택할 수
        있음.<br />
        c. 디지털 기기의 성능 향상을 위해 로딩 속도 개선, 바이러스 제거 등을
        수행할 수 있음.
      </td>
    </tr>
    <tr>
      <td class="td3">1수준(하)</td>
      <td class="td3">
        디지털 도구 사용 목적이나 사용 습관을 바탕으로 디지털 도구를 선택할 수
        있습니다. 주변 사람들의 안내 혹은 도움이 있을 경우 디지털 기술을
        활용하여 기기를 조작할 수 있습니다.
      </td>
      <td class="td3">
        a. 정보 검색 엔진, 문서 및 영상 제작 플랫폼 등의 디지털 도구에 관심이
        있으며, 자신의 사용 습관과 친숙함을 바탕으로 디지털 도구를 사용할 수
        있음.<br />
        b. 과제나 대화 등의 디지털 도구 사용 목적과 나의 사용 습관을 바탕으로
        디지털 도구를 선택할 수 있고 사용할 때의 장점을 설명할 수 있음.<br />
        c. 디지털 기기 자체에서 악성 코드 검사 등을 요구할 경우 수락‧거부 등의
        반응을 할 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td rowspan="3" class="cate td2">3.정보·콘텐츠의 관리와 활용</td>
      <td class="td3">3수준(상)</td>
      <td class="td3">
        디지털 정보‧콘텐츠를 비판적으로 활용할 수 있고, 저작권, 초상권 등을
        고려하며 매체 자료를 목적에 맞게 만들고, 편집하고, 관리할 수 있습니다.
      </td>
      <td class="td3">
        a. 저작권, 초상권, 판권, 특허권권이 있는 음악, 이미지, 자료 등의 사용을
        허가받는 방법을 알고 있음.<br />
        b. 보이스피싱, 해킹, 개인 정보 피해, 해로운 정보를 막는 방법과 처치하는
        방법을 알고 수행할 수 있음.<br />
        c. 디지털 정보‧콘텐츠가 믿을 만한가, 유행에 치우쳐 있는가, 정보가
        한쪽으로 치우쳐 있는가 등을 판단하면서 정보를 탐색하고 활용할 수
        있음.<br />
        d. 디지털 정보‧콘텐츠가의 출처와 과제 관련 정도를 평가하면서 탐색하고
        분석할 수 있음. e. 디지털 정보‧콘텐츠의 저작권, 초상권, 판권, 특허권과
        자료 사용 방법 등에 대한 이해를 바탕으로 이미지, 글, 영상 등이 포함된
        자료를 만들고 편집‧관리할 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td class="td3" style="background-color: #282828">2수준(중)</td>
      <td class="td3" style="background-color: #282828">
        위험하거나 해로운 정보를 미리 차단하면서 자료를 탐색‧분석할 수 있습니다.
        저작권, 초상권 보호의 중요성을 이해하면서 매체 자료를 만들고 편집할 수
        있습니다.
      </td>
      <td class="td3" style="background-color: #282828">
        a. 저작권, 초상권 제약이 없는 (무료) 콘텐츠를 사용 목적에 맞게 사용할 수
        있음.<br />b. 악성 코드, 해킹, 개인 정보 피해, 해로운 정보 등을 막는
        방법을 알고 있음.<br />
        c. 디지털 정보‧콘텐츠를 이용할 때 인기 많은 콘텐츠와 믿을 만한 콘텐츠를
        구분하면서 정보를 탐색하고 평가할 수 있음.<br />d. 디지털 정보‧콘텐츠의
        출처를 평가하면서 탐색할 수 있음.<br />
        e. 디지털 정보‧콘텐츠의 저작권, 초상권, 자료 사용 방법에 대한 이해를
        바탕으로 매체 자료를 만들거나 일부 편집할 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td class="td3" style="background-color: #282828">1수준(하)</td>
      <td class="td3" style="background-color: #282828">
        디지털 정보·콘텐츠의 해로움, 저작권 보호 등에 대해 이해할 수 있으며,
        안내가 있을 경우 발표를 위한 매체 자료를 구성하고 편집할 수 있습니다.
      </td>
      <td class="td3" style="background-color: #282828">
        a. 디지털 정보‧콘텐츠 활용 시 저작권을 존중해야 함을 알고 있음.<br />
        b. 개인 정보 피해, 해로운 정보를 막아야 한다는 인식이 있음.<br />
        c. 디지털 정보‧콘텐츠의 신뢰성과 상업성(인기, 유행, 광고)에 유의하여
        정보를 탐색할 수 있음.<br />
        d. 디지털 정보‧콘텐츠가 과제와 관련되는지를 평가하면서 탐색할 수 있음.
        <br />
        e. 주변 사람들(부모님, 선생님 등)의 도움이 있을 경우 발표를 위한 매체
        자료를 만들고 편집할 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td rowspan="3" class="cate td2">4. 디지털 의사소통과 협력</td>
      <td class="td3">3수준(상)</td>
      <td class="td3">
        이 수준의 학생들은 주어진 과제를 해결하기 위해 적절한 방법으로 정보를
        공유할 수 있습니다. 그 과정에서 다른 사람을 배려하며 정보와 의견을 주고
        받음으로써 온라인에서 다른 사람들과 관계를 만들어갈 수 있습니다.
      </td>
      <td class="td3">
        a. 다양한 자료의 과제, 출처, 내용, 형식을 종합적으로 이해하고 다른
        사람들과 공유할 수 있음.<br />
        b. 상황과 목적에 따라 메신저, 이메일, 문서 작업 프로그램, 슬라이드
        프레젠테이션 소프트웨어, 실시간 협업 플랫폼(구글 행아웃, 구글 닥스 등)
        등을 적절히 활용하여 다른 사람들과 아이디어와 정보를 함께 모으고, 서로
        도우면서 협력적인 관계를 만들고 강화할 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td class="cate">2수준(중)</td>
      <td class="td3">
        이 수준의 학생들은 디지털 환경에서 과제와 관련되는 정보를 공유할 수
        있습니다. 온라인상에서 다른 사람과 서로 도우면서 관계를 만들고 유지할 수
        있습니다.
      </td>
      <td class="td3">
        a. 다양한 자료의 형식적 측면(양식, 플랫폼, 장르 등)과 내용적 측면을
        종합적으로 이해하고 다른 사람들과 공유할 수 있음.<br />
        b. 메신저, 이메일, 문서 작업 프로그램, 슬라이드 프레젠테이션 소프트웨어
        등 다양한 방법을 통해 다른 사람과 정보를 나누고 의견을 주고 받으면서
        건강한 관계를 만들고 이를 유지할 수 있음.
      </td>
    </tr>
    <tr>
      <td class="td3">1수준(하)</td>
      <td class="td3">
        이 수준의 학생들은 주어진 과제 수행에 적절한 디지털 도구를 활용하여
        정보를 공유할 수 있습니다. 온라인상에서 다른 사람과 의견을 교환하면서
        디지털 관계를 만들어갈 수 있습니다.
      </td>
      <td class="td3">
        a. 다양한 자료가 있을 때 유사한 양식이나 플랫폼에서 자료를 공유할 수
        있음. b. 메신저, 이메일, 문서 작업 프로그램 등을 활용하여 다른 사람과
        정보를 주고 받으면서 디지털 관계를 형성할 수 있음.
      </td>
    </tr>
    <tr>
      <td rowspan="3" class="cate td2">5. 디지털 창작 및<br />향유</td>
      <td class="td3">3수준(상)</td>
      <td class="td3">
        디지털 문화 활동에 주인 의식을 가지고 즐겁게 참여하면서 디지털 문화를
        비판적으로 성찰할 수 있습니다.
      </td>
      <td class="td3">
        a. SNS, 동영상 플랫폼, 누리집 게시판 등에 나의 생각과 감정을 적극적으로
        표현하고 새로운 아이디어를 제안함으로써 디지털 문화 형성에 도움이 될 수
        있음.<br />
        b. 음성 파일 변환, 영상 편집, 링크‧해시태그‧QR코드 추가 등을 활용하여
        동영상, 애니메이션 등이 포함된 문화 콘텐츠를 새로이 만들 수 있음.<br />
        c. 웹툰, 웹드라마, 숏폼, 온라인 게임, 애니메이션, 카드뉴스 등을 즐겨
        이용하면서, 디지털 문화의 장단점에 대해 비판적으로 성찰할 수 있음.<br />
      </td>
    </tr>
    <tr>
      <td class="td3">2수준(중)</td>
      <td class="td3">
        디지털 문화를 책임감 있게 즐기면서 온라인상에서 자신의 창작물을 확산할
        수 있습니다.
      </td>
      <td class="td3">
        a. SNS, 동영상 플랫폼, 누리집 게시판 등에 자신의 생각과 감정을 표현할 수
        있음.<br />
        b. 동영상, 애니메이션 등이 포함된 기존의 문화 콘텐츠를 음성 파일 변환,
        영상 편집, 링크‧해시태그‧QR코드 추가 등을 활용하여 편집할 수 있음.<br />
        c. 웹툰, 웹드라마, 숏폼, 온라인 게임, 애니메이션, 카드뉴스 등을 책임감
        있게 이용하면서 디지털 문화의 장점에 대해 생각해 볼 수 있음.
      </td>
    </tr>
    <tr>
      <td class="td3">1수준(하)</td>
      <td class="td3">
        유행하는 디지털 문화 활동을 자신의 개인 채널을 통해 다른 사람들에게 알릴
        수 있고 이러한 디지털 소통 문화의 장단점을 생각해볼 수 있습니다.
      </td>
      <td class="td3">
        a. SNS 챌린지 등의 디지털 문화 활동이 있을 경우 리트윗, 공유 등을 할 수
        있음.<br />
        b. 링크‧해시태그‧QR코드 추가 등을 활용하여 동영상 등을 기반으로 한
        디지털 문화 콘텐츠를 편집할 수 있음.<br />
        c. 온라인상에서 사용되는 비속어, 욕설, 비방 등이 미치는 악영향을
        생각해볼 수 있음.
      </td>
    </tr>
    <tr>
      <td rowspan="3" class="cate td2">6. 디지털 시민참여</td>
      <td class="td3">3수준(상)</td>
      <td class="td3">
        사회 문제를 해결하기 위해 온라인 활동에 참여할 수 있습니다.
      </td>
      <td class="td3">
        a. 디지털 환경이 사회에 미치는 장점과 단점을 알고, 문제 해결을 위해
        온라인 활동에 참여할 수 있음.<br />b. 온라인 게시판의 글 작성, 온라인
        캠페인 등의 활동을 통해 사회 문제 해결에 참여할 수 있음.
      </td>
    </tr>
    <tr>
      <td class="td3" style="background-color: #282828">2수준(중)</td>
      <td class="td3" style="background-color: #282828">
        사회 문제의 기초적인 해결 방안을 인터넷에서 찾아볼 수 있습니다.
      </td>
      <td class="td3" style="background-color: #282828">
        a. 디지털 환경이 가정, 학교, 동아리 활동 등에 미치는 좋은 점과 나쁜 점을
        알 수 있음.<br />b. 해킹, 악성 댓글, 비속어 사용, 저작권 침해 등 디지털
        환경에서 발생하는 사회 문제의 기초적인 해결 방안을 인터넷에서 찾아볼 수
        있음.
      </td>
    </tr>
    <tr>
      <td class="td3" style="background-color: #282828">1수준(하)</td>
      <td class="td3" style="background-color: #282828">
        사회 문제와 관련된 정보를 인터넷에서 찾아볼 수 있습니다.
      </td>
      <td class="td3" style="background-color: #282828">
        a. 디지털 환경이 다른 사람과 관계를 맺는 데 영향을 준다는 것을 이해할 수
        있음.<br />b. 사회 문제와 관련된 정보를 인터넷에서 찾아볼 수 있음.
      </td>
    </tr>
  </table>
</div>
{% endif %}
